<div id="bemvindo">
  <div class="box-text-welcome">
    <div class="text-info-box-cardp">
      <a id="fecharBtCardp">
        <div class="fechar-button">X</div>
      </a>
      <app-top-bar></app-top-bar>

      <div class="container">
        <header>
          <div class="logo-calc"></div>
        </header>
        <div class="separTe"></div>
        <div class="container-cart">
          <div class="planejamento">
            <h2>Faça sua Consulta Alimentar</h2>
          </div>
          <h3>Olá "fname" bem-vindo(a)</h3>
        </div>

        <div style="padding-top: 30px"></div>
        <div class="content-cardap">
          <div class="dadosConsulta">
            <h3>
              <i class="fas fa-home" style="margin-right: 10px"></i> Copy dando
              boas vindas ao sistema
            </h3>

            <div class="atach">
              Instruções ou alguma copy informando ao usuário logado, como
              calcular seu IMC e fazer o formulário que só pode ser feito, após
              comprar o curso e etc..
            </div>
          </div>
          <div class="cardBtn">
            <div style="padding-top: 25px"></div>
            <button id="hideT" routerLink="/calculadora" class="btn success">
              <i class="fas fa-calculator" style="margin-right: 10px"></i
              >Calcular meu IMC
            </button>
          </div>
          <div class="linhaE"></div>
        </div>
      </div>
    </div>
  </div>
</div>
