#login {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000094;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-text-login {
  border-top: 4px solid #75c400;
  border-radius: 15px;
  background: #0a0e17;
  width: 60vh;
  min-height: 60vh;
  margin: 14vh auto;
}

.text-info-box {
  margin: auto;
  width: 85%;
  margin-top: 13px;
  padding: 5px;
}

.fechar-button {
  cursor: pointer;
  color: #696969;
  font-size: 27px;
  display: flex;
  float: right;
  border-radius: 50px;
  background: var(--branco);
  padding: 0px 12px 1px 12px;
  margin-right: 15px;
  margin-top: 11px;
  font-weight: 600;
  transition: 0.3s;
}

.fechar-button:hover {
  background: var(--azul);
  color: var(--branco);
  transform: translate(0px, -4px);
}

/* INPUT FORMS */

.container {
  width: 80%;
  padding: 15px;
  margin: 4vh auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.form-group label {
  font-size: 16px;
  font-family: "Montserrat Semibold", sans-serif;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  background: #1a1a1a;
  width: 100%;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 14px;
  padding: 0 15px;
  outline: none;
  transition: border-color 0.2s ease-in;
}

.form-group input:focus,
.form-group select:focus {
  border: 2px solid #75c400;
}

.LoginBt {
  margin-top: 5px;
  border-radius: 10px;
  background-image: linear-gradient(-90deg, #75c400 0%, #fddb33 100%);
  transition: 0.3s;
  margin-bottom: 10px;
}

.LoginBt:hover {
  background-image: linear-gradient(-90deg, #75c400 0%, #fddb33 100%);
  transform: translate(0px, -3px);
}

.criarBt {
  border: 1px solid #75c400;
  color: #75c400;
  font-weight: 500;
  width: 100%;
  background: none;
  transition: 0.4s;
}

.criarBt:hover {
  background-color: #75c400;
  color: #202020;
  font-weight: 500;
  width: 100%;
}

.form-group button {
  background-image: linear-gradient(-90deg, #75c400 0%, #fddb33 100%);
  border-radius: 5px;
  border: 0;
  height: 45px;
  color: #1a1a1a;
  font-size: 16px;
  font-family: "Montserrat Bold", sans-serif;
  cursor: pointer;
  transition: 0.3s;
}

.form-group button:hover {
  background-image: linear-gradient(-90deg, #75c400 0%, #75c400 100%);
  transform: translate(0px, -2px);
}

.form-group:last-child {
  margin-top: 40px;
}

.result-container {
  margin-top: 50px;
  color: #fff;
}

.result-content {
  margin-top: 10px;
  background: #1a1a1a;
  border-radius: 5px;
  padding: 15px;
}

.result-content ul {
  list-style: none;
}

.result-content ul li {
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat Bold", sans-serif;
  line-height: 30px;
}

.result-content ul li strong {
  color: #83a92f;
}

@media (max-width: 1400px) {
  .box-text-login {
    border-top: 4px solid #75c400;
    border-radius: 0px;
    background: #0a0e17;
    width: 60vh;
    min-height: 70vh;
    margin: 16vh auto;
  }
}
