<div id="aguarde">
  <div class="box-text-aguarde">
    <div class="text-info-box">
      <a id="fecharBtAguarde">
        <div class="fechar-button">X</div>
      </a>
      <!-- <app-top-bar [conta]="conta"></app-top-bar> -->
      <app-top-bar></app-top-bar>

      <div class="containerED">
        <header>
          <div class="logo-calc"></div>
        </header>
        <div class="separTe"></div>
        <div class="container-cart">
          <div class="planejamento">
            <h2>Meu Planejamento Alimentar!</h2>
          </div>
          <h3>
            <!-- Olá {{ conta.first_name }} {{ conta.last_name }}, seja bem-vindo(a) -->
            Olá "fname", aguarde um pouquinho!
          </h3>
        </div>

        <div style="padding-top: 30px"></div>
        <div class="content-cardap">
          <div class="dadosConsulta">
            <h3>
              <i class="fas fa-clock" style="margin-right: 10px"></i>
              Está quase tudo pronto!
            </h3>

            <div class="atach">
                <div
                class="fundo-retAg"
                style="animation: positDas 1.8s ease-in-out"
              ></div>
              Agora eu preciso de um pouco de paciência da sua parte… Seu
              cardápio já foi solicitado e está sendo preparado por nosso
              Nutricionista <b>Romenil Alencar</b>.
              <div style="margin-top: 13px">
                O tempo de espera é de até <b>2 Horas</b>
                afinal o que iremos entregar é algo totalmente personalizado com o
                que foi analisado sobre você! Por isso calma, que logo logo você
                terá em mãos a dieta que irá <b>transformar sua vida.</b>
              </div>
            </div>
          </div>
          <div class="cardBtn">
            <div style="padding-top: 25px"></div>
            <!-- <button id="hideT" routerLink="/calculadora" class="btn success">
                <i class="fas fa-calculator" style="margin-right: 10px"></i
                >Calcular meu IMC
              </button> -->
          </div>
          <div class="linhaE"></div>
        </div>
      </div>
    </div>
  </div>
</div>
