.sidebar-dashboard {
  color: #c9c1c1;
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #1f242a1a;
  overflow: hidden;
  margin-left: 5px;
  font-size: 0.90em;
}

.sidebar-dashboard ul {
  padding-top:25px;
  margin-left: -32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.redcolor{
  color: #9b2222;
  font-weight: bold;
}

.sidebar-dashboard ul li {
  position: relative;
  width: 112.5%;
  list-style: none;
}

.sidebar-dashboard ul li:hover {
  background: #0a0e17;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.sidebar-dashboard ul li a {
  color: #ffffff57;
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  transition: 0.3s all;
}

.sidebar-dashboard ul li:hover a {
  color: #fff;
}

.sidebar-dashboard ul li a .icon {
  color: #fff;
  position: relative;
  display: block;
  min-width: 60px;
  text-align: center;
  padding-top: 11px;
}

.sidebar-dashboard ul li a .title {
  position: relative;
  display: block;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.sidebar-dashboard ul li:hover a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -60px;
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 30px 30px 0 0px #0a0e17;
  pointer-events: none;
}

.sidebar-dashboard ul li:hover a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 60px;
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 30px -30px 0 0px #0a0e17;
  pointer-events: none;
}

.sidebar-dashboard .active-menu {
  background: #0a0e17;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom: 2px solid var(--azul);
}

.sidebar-dashboard ul .active-menu a {
  color: var(--azul);
}

.sidebar-dashboard ul .active-menu a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -60px;
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 30px 30px 0 0px #0a0e17;
  pointer-events: none;
}

.sidebar-dashboard ul .active-menu a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 60px;
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 30px -30px 0 0px #0a0e17;
  pointer-events: none;
}
