<div class="dashFundo"  style="display: block !important"></div>

<div id="conversao">
  <div class="box-text-conversao">
    <div class="text-info-box">
      <app-top-bar [conta]="conta"></app-top-bar>

      <div class="containerED">
        <header>
          <div class="logo-calc"></div>
        </header>
        <div class="separTe"></div>
        <div class="container-cart">
          <div class="planejamento">
            <h2>Não foi possível localizar sua Inscrição!</h2>
          </div>
          <h3>
            Ops, {{ conta.first_name }} {{ conta.last_name }}, não fique de fora!
          </h3>
        </div>

        <div style="padding-top: 30px"></div>
        <div class="content-cardap">
          <div class="dadosConsulta">
            <h3>
              <i
                class="fas fa-exclamation-triangle"
                style="margin-right: 10px"
              ></i>
              Desculpa pelo incoveniente!
            </h3>

            <div class="atach">
              Não pare no meio do caminho, se você chegou até aqui é porque você
              sabe a importância de ter uma vida saudável.
              <div style="margin-top: 13px">
                Para acessar todo o material que vai te auxiliar no processo de
                emagrecimento, é preciso que você finalize a sua inscrição, e
                você pode fazer isso agora mesmo através do botão abaixo, não
                deixe para depois.
                <div
                  style="margin-top: 5px; font-size: 1.2em; text-align: center"
                >
                  Com saúde não se brinca!
                </div>
              </div>
            </div>
          </div>
          <div class="cardBtn">
            <div style="padding-top: 25px"></div>
            <a href="https://promocional.romenilalencar.com.br/venda/#comprar" target="_blank">
              <button id="hideT" class="btn success">
                <i class="fas fa-shopping-basket" style="margin-right: 10px"></i
                >Garantir a minha Inscrição
              </button>
            </a>
            <div style="margin-top: 3px; margin-bottom: 10px; color: #e0e0e0">
              Se você já fez a sua inscrição, clique aqui em baixo agora!
            </div>

            <button
              id="hideT"
              routerLink="/formulario"
              class="btn generateCardap"
            >
              <i class="fas fa-heart" style="margin-right: 10px"></i>Gerar meu
              Cardápio!
            </button>
          </div>
          <div class="linhaE"></div>
        </div>
      </div>
    </div>
  </div>
</div>
