/* REGRAS DE CORES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*  */
:root {
    --body: #191a1a;
    --cor-texto: #707070;
    /* menu */
    --cor-menu: #fafafa;
    --cor-menu2: #000000;
    --cor-borda-menu: #83a92f;
    --cor-background-menu: #027b5b;
    --borda-menu2: #83a92f;
    /*  */
    /* footer */
    --cor-titulo-footer: #027b5b;
    --cor-texto-footer: #fcfcfc;
    --creditos: #131313;
    --border-color-footer: #162b2d;
    /*  */
    --branco: #ffffff;
    --branco-med: #e4e1d6;
    --azul: #dd7b12;
    --preto: #191a1a;
    --separador: #2c2c2c;
    --cor-p: #ffffff;
    /* menu responsivo */
    --fundo-responsivo: #000;
}

.azul {
    color: var(--azul);
}


/*  */