.planejamento h2 {
  padding: 20px;
  line-height: 30px;
  font-size: 1.8em;
  color: #dd7b12;
  text-align: center;
  font-weight: 400;
}
.containerED {
  background-color: #0a0e17;
  padding: 10px;
}
.dadosConsulta2 {
  background-color: #000;
  border-radius: 15px;
  margin-bottom: 10px;
  color: #fff;
  padding: 12px;
}
.dadosConsulta2 label {
  font-size: 22px;
  color: #dd7b12;
  font-weight: bold;
}
