<div id="forbidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-header">
                    <h4 class="card-title">Acesso não autorizado</h4>
                </div>
                <div class="card-body">
                    <p>Você não tem permissão para acessar esta página.</p>
                    <a class="btn btn-primary" [routerLink]="['/welcome']"> Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>