@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

#cardapio {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000094;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  margin-top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-calc {
  background: url(https://1.bp.blogspot.com/-Btvd0_wQ9BY/YWnLKn2UicI/AAAAAAAAHeI/O7QKGOGxeykiqsYPyYVQTOgfQaFlzxlVACLcBGAsYHQ/s0/logosistema.png)
    no-repeat;
  background-size: 100%;
  padding: 68px 236px 10px 2px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 999;
}

.logo-calc:hover {
  transform: translate(0px, -7px);
}
/*  */

/* ESTILIZANDO SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d2c31;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--azul);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8da5d;
}
/*  */
.box-text-cardapio {
  border-top: 4px solid var(--azul);
  background-color: #0a0e17;
  background-image: url(https://1.bp.blogspot.com/-2GtGYZchSCU/YWnR2QsoS3I/AAAAAAAAHeY/uz73yVgahXksqJ3KE4z4Gy05UTDbpo5hwCLcBGAsYHQ/s0/bg%2Bcardap.jpg);
  background-position: 0% 50%, -24vh 2px;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat, no-repeat;
  width: 100%;
  height: 100%;
  margin: 14vh auto;
  padding: 10px 5px 20px 5px;
  font-family: "Montserrat", sans-serif;
  animation: slide-cardap 1.4s cubic-bezier(0.85, 0.18, 0.32, 0.68);
}

.planejamento {
  width: 222px;
  padding: 10px;
  border-left: 2px solid #fff;
  margin-top: -17vh;
  animation: scalePlan 0.9s ease-in-out;
}

/* ANIMAÇÕES */
@keyframes scalePlan {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.planejamento h2 {
  padding: 20px;
  line-height: 30px;
  font-size: 1.8em;
  color: #fff;
  text-align: center;
  font-weight: 400;
  animation: scalePlan 1s ease-in-out;
}

.container-cart {
  width: 80%;
  margin: auto;
  border-top: 2px solid var(--azul);
  padding: 10px 0px 10px 0px;
  animation: slide-top 0.9 ease-in-out;
  border-radius: 10px;
}

.container-cart h3 {
  font-size: 2em;
  text-align: center;
  background-color: #0a0e17;
  color: #fff;
  width: 40%;
  margin: -21px auto;
  font-weight: 350;
  animation: scalePlan 1.4s ease-in-out;
}

.content-cardap {
  width: 100%;
  padding: 15px;
  margin: 4vh auto;
}

.nextDados {
  font-size: 36px;
  color: #fffbfc;
  content: "\f054";
  font-family: FontAwesome;
  padding: 100px;
}

/* ETIQUETAS */
.cafeManha {
  color: #fff;
  background-image: linear-gradient(0deg, #0a0e17 0%, #6a6f41 100%) !important;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}
.almoco {
  color: #fff;
  background-image: linear-gradient(0deg, #0a0e17 0%, #465853 100%) !important;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}
.janta {
  color: #fff;
  background-image: linear-gradient(0deg, #0a0e17 0%, #57416f 100%) !important;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

/*  */

.dadosConsulta {
  padding: 13px;
  font-size: 1em;
  width: 47%;
  display: inline-flex;
  margin: 3vh 4vh 2vh 0px;
  transition: all 0.5s;
  box-shadow: 0px 0px 4px 1px #272727;
  animation: slide-left 1.2s ease-in-out;
}

.dadosConsulta {
  padding: 13px;
  font-size: 1.23em;
  width: 100%;
  margin: 3vh 0vh 2vh 0px;
  display: inline-grid;
}

.dadosConsulta p {
  text-align: justify;
  font-weight: 400;
  animation: slide-left 1.2s ease-in-out;
}

.dadosConsulta caption {
  width: 100%;
  height: auto;
  margin: 15px;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--azul);
  padding: 3px;
  font-size: 1.4em;
  animation: slide-left 0.6s ease-in-out;
}

.dadosConsulta label {
  color: var(--azul);
  border-right: 1px solid #272727;
  line-height: 23px;
  width: 100%;
  /* line-height: 40px; */
  font-size: 20px;
  margin-top: 13px;
}

.dadosConsulta label {
  color: #75c400;
  border-bottom: 1px solid #272727;
  border-right: none;
  line-height: 50px;
  width: 100%;
}

.favTit {
  width: 100%;
  font-size: 32px;
  margin-bottom: 13px;
}

/* ANIMAÇÕES */

@keyframes slide-cardap {
  0% {
    transform: translateX(-2260px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-260px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes nextArrow {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(-160px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.text-info-box {
  margin: auto;
  width: 100%;
  padding: 0px;
  height: 100%;
  overflow-y: scroll;
}
.separTe {
  margin-top: 12vh;
}

.cardBtn {
  margin: 5vh auto;
  width: 30%;
}

.success {
  border: 1px solid var(--azul);
  color: var(--azul);
  font-weight: 500;
  width: 100%;
  background: none;
  transition: 0.4s;
  line-height: 40px;
}

.success:hover {
  background-color: var(--azul);
  color: #e0e0e0;
  font-weight: 500;
  width: 100%;
}

@media (max-width: 1400px) {
  .cardBtn {
    margin: auto;
    width: 100%;
  }

  .separTe {
    margin-top: 10vh;
  }
  header {
    margin-top: -60px;
  }
  /* SIDEBAR */
  ::-webkit-scrollbar {
    width: 5px;
  }
  .box-text-cardapio {
    margin: 14vh auto;
    padding: 10px 0;
    background-position: 59% -34%;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
  
  .content-cardap {
    width: 90%;
    margin: 4vh auto;
    padding: 0;
  }
  

  .dadosConsulta label {
    color: var(--azul);
    border-bottom: 1px solid #272727;
    border-right: none;
    line-height: 50px;
    width: 100%;
  }

  .container-cart {
    width: 90%;
    margin: auto;
    padding: 10px 0px 10px 0px;
    border-top: none;
  }

  .container-cart h3 {
    font-size: 1.1em;
    text-align: center;
    background-color: #0a0e17;
    color: #fff;
    width: 70%;
    margin: -29px auto;
    font-weight: 350;
    border-radius: 10px;
    padding: 7px;
  }

  .planejamento {
    width: auto;
    padding: 10px;
    border-left: 2px solid var(--azul);
    border-bottom: 2px solid var(--azul);
    margin-top: -13vh;
    animation: scalePlan 0.9s ease-in-out;
    border-radius: 0px 8px;
  }

  .planejamento h2 {
    font-size: 1.2em;
    padding: 44px;
  }
}
