
<div class="box-menu"></div>

<div class="nav-container">
  <nav class="navbar">
    <h1 id="navbar-logo">MENU</h1>
    <div class="menu-toggle menu-box" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="nav-menu">
      <div class="drop-btn">
        <i class="fas fa-user" style="margin-right: 10px"></i>{{conta.first_name}}
        <i class="fas fa-caret-down" style="margin-left: 4px"></i>
      </div>
      <div class="wrapper">
        <ul class="menu-bar">
          <li>
            <a>
              <div class="icon"><span class="fas fa-user"></span></div>
              Meu perfil
            </a>
          </li>
          <!-- <li class="setting-item">
            <a>
              <div class="icon"><span class="fas fa-cog"></span></div>
              Configurações <i class="fas fa-angle-right"></i>
            </a>
          </li> -->
          <li>
            <a>
              <div class="icon"><span class="fas fa-lock"></span></div>
              Trocar senha
            </a>
          </li>
        </ul>
        <!-- Configurações Menu -->
        <ul class="setting-drop">
          <li class="left-arrows back-setting-btn">
            <span class="fas fa-arrow-left"></span>Configurações
          </li>
          <li>
            <a>
              <div class="icon"><span class="fas fa-user"></span></div>
              Config pers. 1
            </a>
          </li>
          <li>
            <a>
              <div class="icon"><span class="fas fa-cog"></span></div>
              Config pers. 2
            </a>
          </li>
          <li>
            <a>
              <div class="icon"><span class="fas fa-lock"></span></div>
              Config pers. 3
            </a>
          </li>
        </ul>
      </div>
      <li>
        <a href="" class="nav-links nav-links-btn"
          ><i class="fas fa-sign-out-alt" style="margin-right: 10px"></i>Sair</a
        >
      </li>
    </ul>
  </nav>
</div>
