<div *ngIf="cardapio == 'PDISML'"></div>
<h1 *ngIf="cardapio == 'PDISCO'">Diabete e Constipação</h1>
<h1 *ngIf="cardapio == 'PDISIS'">Diabete e Insonia</h1>
<h1 *ngIf="cardapio == 'PDISCE'">Diabete e Colesterol Elevado</h1>
<h1 *ngIf="cardapio == 'PDISAN'">Diabete e Ansiedade</h1>
<h1 *ngIf="cardapio == 'PDISRL'">Diabete e Retensão Liquida</h1>
<h1 *ngIf="cardapio == 'PDISNP'">Diabete e Diabete Puro</h1>

<h1 *ngIf="cardapio == 'PHISML'">Hipertensão e Metabolismo Lento</h1>
<h1 *ngIf="cardapio == 'PHISCO'">Hipertensão e Constipação</h1>
<h1 *ngIf="cardapio == 'PHISIS'">Hipertensão e Insonia</h1>
<h1 *ngIf="cardapio == 'PHISCE'">Hipertensão e Colesterol Elevado</h1>
<h1 *ngIf="cardapio == 'PHISAN'">Hipertensão e Ansiedade</h1>
<h1 *ngIf="cardapio == 'PHISRL'">Hipertensão e Retensão Liquida</h1>
<h1 *ngIf="cardapio == 'PHISNP'">Hipertensão Pura</h1>

<h1 *ngIf="cardapio == 'PNPSML'">Metabolismo Lento</h1>
<h1 *ngIf="cardapio == 'PNPSCO'">Constipação</h1>
<h1 *ngIf="cardapio == 'PNPSIS'">Insonia</h1>
<h1 *ngIf="cardapio == 'PNPSCE'">Colesterol Elevado</h1>
<h1 *ngIf="cardapio == 'PNPSAN'">Ansiedade</h1>
<h1 *ngIf="cardapio == 'PNPSRL'">Retensão Liquida</h1>
<div *ngIf="cardapio == 'PNPSNP'">
  <div class="date"></div>
</div>
