<div id="formulario">
  <div class="box-text-formulario">
    <div class="text-info-box">
      <a id="fecharBtForm">
        <div class="fechar-button">X</div>
      </a>

      <app-top-bar [conta]="conta"></app-top-bar>

      <div class="containerED">
        <header>
          <div class="logo-calc"></div>
        </header>
        <div class="separTe"></div>
        <div class="container-cart">
          <div class="planejamento">
            <h2>Consulta Alimentar</h2>
          </div>
          <h3>Olá {{conta.first_name}} {{conta.last_name}} faça a sua consulta</h3>
        </div>

        <div class="content-cardap">
          <div class="favMarks"><i class="far fa-heart"></i></div>
          <div class="container-cart">
            <h4>Patologias</h4>
          </div>
          <form>
            <div class="dadosConsulta">
              <h3>Hipertensão?</h3>

              <div class="atach">Escolha uma das opções:</div>
              <div class="option">
                <input 
                  type="radio" 
                  id="hipSim"
                  name="hipertensao" 
                  [(ngModel)]="patologia.hipertensao" 
                  [value]="true"
                />
                <label for="hipSim">Sim</label>
              </div>
               
              <div class="option">
                <input 
                  type="radio" 
                  id="hipNao"
                  name="hipertensao" 
                  [(ngModel)]="patologia.hipertensao" 
                  [value]="false"
                >
                <label for="hipNao">Não</label>
              </div>
            </div>

            <div class="dadosConsulta">
              <h3>Diabetes?</h3>

              <div class="atach">Escolha uma das opções:</div>
              <div class="option">
                <input
                type="radio"
                  id="diabSim"
                  name="diabetes"
                  [(ngModel)]="patologia.diabetes"
                  [value]="true"
                />
                <label for="diabSim">Sim</label>
              </div>

              <div class="option">
                <input
                  type="radio"
                  id="diabNao"
                  name="diabetes"
                  [(ngModel)]="patologia.diabetes"
                  [value]="false"
                />
                <label for="diabNao">Não</label>
              </div>
            </div>

            <div class="dadosConsulta">
              <h3>Hipotireoidismo?</h3>

              <div class="atach">Escolha uma das opções:</div>
                <div class="option">
                  <input
                    type="radio"
                    id="hipotireoSim"
                    name="hipotireoidismo"
                    [(ngModel)]="patologia.hipotireoidismo"
                    [value]="true"
                  />
                    <label for="hipotireoSim">Sim</label>
                </div>

                 
                <div class="option">
                  <input
                    [(ngModel)]="patologia.hipotireoidismo"
                    type="radio"
                    id="hipotireoNao"
                    name="hipotireoidismo"
                    [value]="false"
                  />
                    <label for="hipotireoNao">Não</label>
                </div>
            </div>

            <div class="dadosConsulta">
              <h3>Metabolimo lento?</h3>

              <div class="atach">Escolha uma das opções:</div>
            
                <div class="option">
                  <input
                    type="radio"
                    id="metabolismoSim"
                    name="metabolismo_lento"
                    [(ngModel)]="patologia.metabolismo_lento"
                    [value]="true"
                  />
                    <label for="metabolismoSim">Sim</label>
                </div>

                <div class="option">
                  <input
                    type="radio"
                    id="metabolismoNao"
                    name="metabolismo_lento"
                    [(ngModel)]="patologia.metabolismo_lento"
                    [value]="false"
                  />
                    <label for="metabolismoNao">Não</label>
                </div>
            </div>

            <div class="dadosConsulta">
              <h3>Costuma ter retenção de líquidos?</h3>

              <div class="atach">Escolha uma das opções:</div>
              
              <div class="option">
                <input
                  type="radio"
                  id="retLiquidSim"
                  name="retencao_liquida"
                  [(ngModel)]="patologia.retencao_liquida"
                  [value]="true"
                />
                  <label for="retLiquidSim">Sim</label>
              </div>
                 
              <div class="option">
                <input
                  type="radio"
                  id="retLiquidNao"
                  name="retencao_liquida"
                  [(ngModel)]="patologia.retencao_liquida"
                  [value]="false"
                />
                  <label for="retLiquidNao">Não</label>
              </div>
            </div>

            <div class="dadosConsulta">
              <h3>Tem insônia?</h3>

              <div class="atach">Escolha uma das opções:</div>
              
              <div class="option">
                <input
                  type="radio"
                  id="isoniaSim"
                  name="insonia"
                  [(ngModel)]="patologia.insonia"
                  [value]="true"
                />
                  <label for="isoniaSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="isoniaNao"
                  name="insonia"
                  [(ngModel)]="patologia.insonia"
                  [value]="false"
                />
                  <label for="isoniaNao">Não</label>
              </div>
            </div>


            <div class="dadosConsulta">
              <h3>Glúten?</h3>

              <div class="atach">Escolha uma das opções:</div>
              
                <div class="option">
                  <input
                    type="radio"
                    id="glutenSim"
                    name="gluten"
                    
                    value="true"
                  />
                    <label for="glutenSim">Sim</label>
                </div>

                 
                <div class="option">
                  <input
                    type="radio"
                    id="glutenNao"
                    name="gluten"
                    value="false"
                  />
                    <label for="glutenNao">Não</label>
                </div>
            </div>

            <div class="dadosConsulta">
              <h3>Constipação? (Vontade de ir ao banheiro)</h3>

              <div class="atach">Escolha uma das opções:</div>
                <div class="option">
                  <input
                    type="radio"
                    id="constipacaoSim"
                    name="constipacao"
                    [(ngModel)]="patologia.constipacao"
                    [value]="true"
                  />
                  <label for="constipacaoSim">Sim</label>
                </div>
                 
                <div class="option">
                  <input
                    type="radio"
                    id="constipacaoNao"
                    name="constipacao"
                    [(ngModel)]="patologia.constipacao"
                    [value]="false"
                  />
                    <label for="constipacaoNao">Não</label>
                </div>
            </div>

            <div class="dadosConsulta">
              <h3>Colesterol elevado?</h3>

              <div class="atach">Escolha uma das opções:</div>
                <div class="option">
                  <input
                    type="radio"
                    id="colesterolSim"
                    name="colesterol_elevado"
                    [(ngModel)]="patologia.colesterol_elevado"
                    [value]="true"
                  />
                  <label for="colesterolSim">Sim</label>
                </div>

                 
                <div class="option">
                  <input
                    type="radio"
                    id="colesterolNao"
                    name="colesterol_elevado"
                    [(ngModel)]="patologia.colesterol_elevado"
                    [value]="false"
                  />
                    <label for="colesterolNao">Não</label>
                </div>
            </div>

            <div class="dadosConsulta">
              <h3>Ansiedade?</h3>

              <div class="atach">Escolha uma das opções:</div>
              
                <div class="option">
                  <input
                    type="radio"
                    id="ansiedadeSim"
                    name="ansiedade"
                    [(ngModel)]="patologia.ansiedade"
                    [value]="true"
                  />
                    <label for="ansiedadeSim">Sim</label>
                </div>

                 
                <div class="option">
                  <input
                    type="radio"
                    id="ansiedadeNao"
                    name="ansiedade"
                    [(ngModel)]="patologia.ansiedade"
                    [value]="false"
                  />
                    <label for="ansiedadeNao">Não</label>
                </div>
            </div>

            <div class="dadosConsulta">
              <h3>Gordura no fígado (Esteatose hepática)?</h3>

              <div class="atach">Escolha uma das opções:</div>
             
                <div class="option">
                  <input
                    type="radio"
                    id="gorduraFigadoSim"
                    name="gordura_no_figado"
                    value="true"
                  />
                    <label for="gorduraFigadoSim">Sim</label>
                </div>

                 
                <div class="option">
                  <input
                    type="radio"
                    id="gorduraFigadoNao"
                    name="gordura_no_figado"
                    value="false"
                  />
                    <label for="gorduraFigadoNao">Não</label>
                </div>
            </div>

            <div class="dadosConsulta">
              <h3>Tem anemia?</h3>

              <div class="atach">Escolha uma das opções:</div>
              
                <div class="option">
                  <input
                    type="radio"
                    id="anemiaSim"
                    name="anemia"
                    value="true"
                  />
                    <label for="anemiaSim">Sim</label>
                </div>

                 
                <div class="option">
                  <input
                    type="radio"
                    id="anemiaNao"
                    name="anemia"
                    value="false"
                  />
                    <label for="anemiaNao">Não</label>
                </div>
              
            </div>
          </form>

          <div class="linhaD"></div>
          <div class="favMarks"><i class="fas fa-temperature-high"></i></div>

          <div class="container-cart">
            <h4>Alergias</h4>
          </div>


          <div class="dadosConsulta">
            <!-- NÃO RODAR ALGORITIMO -->
            <!--  -->
            <h3>Frutos do mar?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="frutosMarSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="frutosMarSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="frutosMarNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="frutosMarNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <!-- NÃO RODAR ALGORITIMO -->
            <!--  -->
            <h3>Ovo?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="ovoSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="ovoSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="ovoNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="ovoNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <!-- NÃO RODAR ALGORITIMO -->
            <!--  -->
            <h3>Soja?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="sojaSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="sojaSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="sojaNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="sojaNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Amendoim?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="patologiaSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="patologiaSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="patologiaNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="patologiaNao">Não</label>
              </div>
            </form>
          </div>

          <div class="linhaD"></div>

          <div class="favMarks"><i class="fas fa-thumbs-up"></i></div>
          <div class="container-cart">
            <h4 class="mobileEstilo">Estilo de Vida</h4>
          </div>

          <div class="dadosConsulta">
            <!-- NÃO RODAR ALGORITIMO -->
            <!--  -->
            <h3>Vegano?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="veganoSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="veganoSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="veganoNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="veganoNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <!-- NÃO RODAR ALGORITIMO -->
            <!--  -->
            <h3>Vegetariano (Ovo lacto)?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="vegetarianoSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="vegetarianoSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="vegetarianoNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="vegetarianoNao">Não</label>
              </div>
            </form>
          </div>
          <div class="cardBtn">
            <div style="padding-top: 25px"></div>
            <button class="btn success" (click)="salvarFormulario()">
              <i class="fas fa-clipboard-check" style="margin-right: 10px"></i
              >Gerar meu Cardápio
            </button>
          </div>
          <div class="linhaE"></div>
        </div>
      </div>
    </div>
  </div>
</div>
