<div id="cardapio">
  <div class="box-text-cardapio">
    <div class="text-info-box-cardp">
      <a id="fecharBtCardp">
        <div class="fechar-button">X</div>
      </a>
      <div class="container">
        <header>
          <div class="logo-calc"></div>
        </header>
        <div style="margin-top: 12vh"></div>
        <div class="container-cart">
          <div class="planejamento">
            <h2>Consulta Alimentar</h2>
          </div>
          <h3>Olá "fname" faça a sua consulta</h3>
        </div>

        <div style="padding-top: 60px"></div>
        <div class="content-cardap">
          <div class="container-cart">
            <h4>Patologias</h4>
          </div>
          <div class="dadosConsulta">
            <h3>Hipertensão?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="hipSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="hipSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="hipNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="hipNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Diabetes?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="diabSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="diabSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="diabNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="diabNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Hipotireoidismo?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="hipotireoSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="hipotireoSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="hipotireoNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="hipotireoNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Insuficiência renal?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="insuficSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="insuficSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="insuficNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="insuficNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Costuma ter retenção de líquidos?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="retLiquidSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="retLiquidSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="retLiquidNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="retLiquidNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Tem insônia?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="isoniaSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="isoniaSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="isoniaNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="isoniaNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Constipação?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="constipacaoSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="constipacaoSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="constipacaoNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="constipacaoNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Colesterol elevado?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="colesterolSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="colesterolSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="colesterolNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="colesterolNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Ansiedade?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="ansiedadeSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="ansiedadeSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="ansiedadeNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="ansiedadeNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Gordura no fígado ( esteatose hepática)?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="gorduraFigadoSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="gorduraFigadoSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="gorduraFigadoNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="gorduraFigadoNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Tem anemia?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="anemiaSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="anemiaSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="anemiaNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="anemiaNao">Não</label>
              </div>
            </form>
          </div>

          <div style="padding-top: 60px"></div>

          <div class="container-cart">
            <h4>Alergias</h4>
          </div>

          <div class="dadosConsulta">
            <h3>Lactose?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="lactoseSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="lactoseSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="lactoseNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="lactoseNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Frutos do mar?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="frutosMarSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="frutosMarSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="frutosMarNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="frutosMarNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Ovo?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="ovoSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="ovoSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="ovoNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="ovoNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Soja?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="sojaSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="sojaSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="sojaNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="sojaNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Amendoim?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="patologiaSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="patologiaSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="patologiaNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="patologiaNao">Não</label>
              </div>
            </form>
          </div>

          <div style="padding-top: 60px"></div>

          <div class="container-cart">
            <h4>Life Style</h4>
          </div>

          <div class="dadosConsulta">
            <h3>Vegano?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="veganoSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="veganoSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="veganoNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="veganoNao">Não</label>
              </div>
            </form>
          </div>

          <div class="dadosConsulta">
            <h3>Vegetariano (Ovo lacto)?</h3>

            <div class="atach">Escolha uma das opções:</div>
            <form>
              <div class="option">
                <input
                  type="radio"
                  id="vegetarianoSim"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="vegetarianoSim">Sim</label>
              </div>

               
              <div class="option">
                <input
                  type="radio"
                  id="vegetarianoNao"
                  name="fav_language"
                  value="JavaScript"
                />
                  <label for="vegetarianoNao">Não</label>
              </div>
            </form>
          </div>
          <div class="cardBtn">
            <button class="btn success">Gerar Cardápio</button>
          </div>
          <div class="linhaE"></div>
        </div>
      </div>
    </div>
  </div>
</div>
