<div class="dashFundo" style="display: block !important"></div>

<div id="formulario">
  <div class="box-text-formulario">
    <div class="text-info-box">
      <app-top-bar [conta]="conta"></app-top-bar>

      <div class="containerED">
        <header>
          <div class="logo-calc"></div>
        </header>
        <div class="separTe"></div>
        <div class="container-cart">
          <div class="planejamento">
            <h2>Consulta Alimentar</h2>
          </div>
          <h3>
            Ei, {{ conta.first_name }} {{ conta.last_name }} faça a sua consulta
          </h3>
        </div>

        <div class="content-cardap">
          <div class="favMarks"><i class="far fa-heart"></i></div>
          <div class="margConsulta">
            <div class="container-cart">
              <h4>Patologias</h4>
            </div>
            <div>
              <h5 class="modifcadoT">
                Cardápio gerado em:
                <b class="fadeIn" *ngIf="contentLoadedData">{{ formulario.modificado_em | date: "dd/M/Y" }}</b>
                <ngx-skeleton-loader
                *ngIf="!contentLoadedData"
                [theme]="{
                  'border-radius': '5px',
                  height: '50px',
                  width: '300px',
                  'margin-top': '20px',
                  'margin-left': '20px',
                  position: 'absolute',
                  'background-color': '#0e1420'
                }"
                animation="progress"
              >
              </ngx-skeleton-loader>
              </h5>
            </div>
            <form class="setMarg" (disabled)="(true)">
              <div class="dadosConsulta">
                <h3>Diabetes?</h3>

                <div class="atach">Escolha uma das opções:</div>
                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.diabetes"
                    [value]="true"
                    type="radio"
                    name="select1"
                    id="option-1"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.diabetes"
                    [value]="false"
                    type="radio"
                    name="select2"
                    id="option-2"
                  />
                  <label for="option-1" class="option option-1">
                    <span>Sim</span>
                  </label>
                  <label for="option-2" class="option option-2">
                    <span>Não</span>
                  </label>
                </div>
              </div>

              <div class="dadosConsulta">
                <h3>Hipertensão?</h3>

                <div class="atach">Escolha uma das opções:</div>
                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.hipertensao"
                    [value]="true"
                    name="select3"
                    type="radio"
                    id="option-3"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.hipertensao"
                    [value]="false"
                    name="select4"
                    type="radio"
                    id="option-4"
                  />
                  <label for="option-3" class="option option-3">
                    <span>Sim</span>
                  </label>
                  <label for="option-4" class="option option-4">
                    <span>Não</span>
                  </label>
                </div>
              </div>

              <div class="dadosConsulta">
                <h3>Hipotireoidismo?</h3>

                <div class="atach">Escolha uma das opções:</div>
                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.hipotireoidismo"
                    [value]="true"
                    type="radio"
                    name="select5"
                    id="option-5"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.hipotireoidismo"
                    [value]="false"
                    type="radio"
                    name="select6"
                    id="option-6"
                  />
                  <label for="option-5" class="option option-5">
                    <span>Sim</span>
                  </label>
                  <label for="option-6" class="option option-6">
                    <span>Não</span>
                  </label>
                </div>
              </div>

              <div class="dadosConsulta">
                <h3>Metabolismo lento?</h3>

                <div class="atach">Escolha uma das opções:</div>

                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.metabolismo_lento"
                    [value]="true"
                    type="radio"
                    name="select7"
                    id="option-7"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.metabolismo_lento"
                    [value]="false"
                    type="radio"
                    name="select8"
                    id="option-8"
                  />
                  <label for="option-7" class="option option-7">
                    <span>Sim</span>
                  </label>
                  <label for="option-8" class="option option-8">
                    <span>Não</span>
                  </label>
                </div>
              </div>

              <div class="dadosConsulta">
                <h3>Costuma ter retenção de líquidos?</h3>

                <div class="atach">Escolha uma das opções:</div>

                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.retencao_liquida"
                    [value]="true"
                    type="radio"
                    name="select9"
                    id="option-9"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.retencao_liquida"
                    [value]="false"
                    type="radio"
                    name="select10"
                    id="option-10"
                  />
                  <label for="option-9" class="option option-9">
                    <span>Sim</span>
                  </label>
                  <label for="option-10" class="option option-10">
                    <span>Não</span>
                  </label>
                </div>
              </div>

              <div class="dadosConsulta">
                <h3>Tem insônia?</h3>

                <div class="atach">Escolha uma das opções:</div>

                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.insonia"
                    [value]="true"
                    type="radio"
                    name="select11"
                    id="option-11"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.insonia"
                    [value]="false"
                    type="radio"
                    name="select11"
                    id="option-12"
                  />
                  <label for="option-11" class="option option-11">
                    <span>Sim</span>
                  </label>
                  <label for="option-12" class="option option-12">
                    <span>Não</span>
                  </label>
                </div>
              </div>

              <div class="dadosConsulta">
                <h3>Intolerância a Glúten (Celíaco)</h3>

                <div class="atach">Escolha uma das opções:</div>

                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.celiaco"
                    [value]="true"
                    type="radio"
                    name="select13"
                    id="option-13"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.celiaco"
                    [value]="false"
                    type="radio"
                    name="select14"
                    id="option-14"
                  />
                  <label for="option-13" class="option option-13">
                    <span>Sim</span>
                  </label>
                  <label for="option-14" class="option option-14">
                    <span>Não</span>
                  </label>
                </div>
              </div>

              <div class="dadosConsulta">
                <h3>Constipação? (Dificuldade de ir no banheiro)</h3>

                <div class="atach">Escolha uma das opções:</div>
                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.constipacao"
                    [value]="true"
                    type="radio"
                    name="select15"
                    id="option-15"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.constipacao"
                    [value]="false"
                    type="radio"
                    name="select16"
                    id="option-16"
                  />
                  <label for="option-15" class="option option-15">
                    <span>Sim</span>
                  </label>
                  <label for="option-16" class="option option-16">
                    <span>Não</span>
                  </label>
                </div>
              </div>

              <div class="dadosConsulta">
                <h3>Colesterol elevado?</h3>

                <div class="atach">Escolha uma das opções:</div>
                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.colesterol_elevado"
                    [value]="true"
                    type="radio"
                    name="select17"
                    id="option-17"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.colesterol_elevado"
                    [value]="false"
                    type="radio"
                    name="select18"
                    id="option-18"
                  />
                  <label for="option-17" class="option option-17">
                    <span>Sim</span>
                  </label>
                  <label for="option-18" class="option option-18">
                    <span>Não</span>
                  </label>
                </div>
              </div>

              <div class="dadosConsulta">
                <h3>Ansiedade?</h3>

                <div class="atach">Escolha uma das opções:</div>

                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.ansiedade"
                    [value]="true"
                    type="radio"
                    name="select19"
                    id="option-19"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.ansiedade"
                    [value]="false"
                    type="radio"
                    name="select20"
                    id="option-20"
                  />
                  <label for="option-19" class="option option-19">
                    <span>Sim</span>
                  </label>
                  <label for="option-20" class="option option-20">
                    <span>Não</span>
                  </label>
                </div>
              </div>

              <div class="dadosConsulta">
                <h3>Gordura no fígado (Esteatose hepática)?</h3>

                <div class="atach">Escolha uma das opções:</div>

                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.gordura_no_figado"
                    [value]="true"
                    type="radio"
                    name="select21"
                    id="option-21"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.gordura_no_figado"
                    [value]="false"
                    type="radio"
                    name="select22"
                    id="option-22"
                  />
                  <label for="option-21" class="option option-21">
                    <span>Sim</span>
                  </label>
                  <label for="option-22" class="option option-22">
                    <span>Não</span>
                  </label>
                </div>
              </div>

              <div class="dadosConsulta">
                <h3>Tem anemia?</h3>

                <div class="atach">Escolha uma das opções:</div>

                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.anemia"
                    [value]="true"
                    type="radio"
                    name="select23"
                    id="option-23"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.anemia"
                    [value]="false"
                    type="radio"
                    name="select24"
                    id="option-24"
                  />
                  <label for="option-23" class="option option-23">
                    <span>Sim</span>
                  </label>
                  <label for="option-24" class="option option-24">
                    <span>Não</span>
                  </label>
                </div>
              </div>
            </form>

            <div class="linhaD"></div>
            <div class="favMarks"><i class="fas fa-temperature-high"></i></div>

            <div class="container-cart">
              <h4>Alergias</h4>
            </div>

            <div class="dadosConsulta">
              <!-- NÃO RODAR ALGORITIMO -->
              <!--  -->
              <h3>Frutos do mar?</h3>

              <div class="atach">Escolha uma das opções:</div>
              <form class="">
                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.frutos_do_mar"
                    [value]="true"
                    type="radio"
                    name="select25"
                    id="option-25"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.frutos_do_mar"
                    [value]="false"
                    type="radio"
                    name="select26"
                    id="option-26"
                  />
                  <label for="option-25" class="option option-25">
                    <span>Sim</span>
                  </label>
                  <label for="option-26" class="option option-26">
                    <span>Não</span>
                  </label>
                </div>
              </form>
            </div>

            <div class="dadosConsulta">
              <h3>Ovo?</h3>

              <div class="atach">Escolha uma das opções:</div>
              <form class="">
                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.ovo"
                    [value]="true"
                    type="radio"
                    name="select27"
                    id="option-27"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.ovo"
                    [value]="false"
                    type="radio"
                    name="select28"
                    id="option-28"
                  />
                  <label for="option-27" class="option option-27">
                    <span>Sim</span>
                  </label>
                  <label for="option-28" class="option option-28">
                    <span>Não</span>
                  </label>
                </div>
              </form>
            </div>

            <div class="dadosConsulta">
              <h3>Soja?</h3>

              <div class="atach">Escolha uma das opções:</div>
              <form class="">
                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.soja"
                    [value]="true"
                    type="radio"
                    name="select29"
                    id="option-29"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.soja"
                    [value]="false"
                    type="radio"
                    name="select30"
                    id="option-30"
                  />
                  <label for="option-29" class="option option-29">
                    <span>Sim</span>
                  </label>
                  <label for="option-30" class="option option-30">
                    <span>Não</span>
                  </label>
                </div>
              </form>
            </div>

            <div class="dadosConsulta">
              <h3>Amendoim?</h3>

              <div class="atach">Escolha uma das opções:</div>
              <form class="">
                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.amendoim"
                    [value]="true"
                    type="radio"
                    name="select31"
                    id="option-31"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.amendoim"
                    [value]="false"
                    type="radio"
                    name="select31"
                    id="option-32"
                  />
                  <label for="option-31" class="option option-31">
                    <span>Sim</span>
                  </label>
                  <label for="option-32" class="option option-32">
                    <span>Não</span>
                  </label>
                </div>
              </form>
            </div>

            <div class="linhaD"></div>

            <div class="favMarks"><i class="fas fa-thumbs-up"></i></div>
            <div class="container-cart">
              <h4 class="mobileEstilo">Estilo de Vida</h4>
            </div>
            <div class="dadosConsulta">
              <h3>Vegano?</h3>

              <div class="atach">Escolha uma das opções:</div>
              <form class="">
                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.vegano"
                    [value]="true"
                    type="radio"
                    name="select33"
                    id="option-33"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.vegano"
                    [value]="false"
                    type="radio"
                    name="select34"
                    id="option-34"
                  />
                  <label for="option-33" class="option option-33">
                    <span>Sim</span>
                  </label>
                  <label for="option-34" class="option option-34">
                    <span>Não</span>
                  </label>
                </div>
              </form>
            </div>

            <div class="dadosConsulta">
              <h3>Vegetariano (Ovo lacto)?</h3>

              <div class="atach">Escolha uma das opções:</div>
              <form class="">
                <div class="wrapper">
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.vegetariano"
                    [value]="true"
                    type="radio"
                    name="select35"
                    id="option-35"
                  />
                  <input
                    [disabled]="!editavel"
                    [(ngModel)]="formulario.vegetariano"
                    [value]="false"
                    type="radio"
                    name="select36"
                    id="option-36"
                  />
                  <label for="option-35" class="option option-35">
                    <span>Sim</span>
                  </label>
                  <label for="option-36" class="option option-36">
                    <span>Não</span>
                  </label>
                </div>
              </form>
            </div>
            <div class="cardBtn">
              <div style="padding-top: 25px"></div>
              <button
                [disabled]="!editavel"
                class="btn success"
                id="gerarCardap"
              >
                <i class="fas fa-clipboard-check" style="margin-right: 10px"></i
                >Gerar meu Cardápio
              </button>
              <button
                *ngIf="formulario.modificado_em"
                id="hideT"
                routerLink="/cardapios"
                class="btn success"
              >
                <i
                  class="fas fa-clipboard-check"
                  style="margin-right: 10px"
                ></i>
                Acessar meu Cardápio
              </button>
            </div>
            <div class="linhaE"></div>
            <!-- TELA DE CONFIRMAÇÃO -->
            <div id="generateCard">
              <div class="box-confirm">
                <div class="text-confirm">
                  <h6>Tem certeza que deseja gerar o seu cardápio?</h6>
                  <div style="margin-top: 10px">
                    Por favor tenha o <b class="azul">consetimento</b> de que ao
                    gerar o seu cardápio, você só poderá gerar um novo após
                    <b class="azul">20 dias</b>, por conta de que o ciclo da sua
                    alimentação precisa ser respeitada!
                  </div>
                  <div style="margin-top: 15px">
                    Confere se você selecionou tudo direitinho, e volta aqui
                    para confirmar.
                  </div>
                  <div style="margin-top: 2px">
                    Caso esteja tudo correto, só clicar no botão de
                    <b class="azul"
                      ><i
                        class="fas fa-clipboard-check"
                        style="margin-right: 6px; margin-left: 8px"
                      ></i
                      >Gerar meu Cardápio!</b
                    >
                  </div>
                  <div class="cardBtn2">
                    <div style="padding-top: 25px"></div>
                    <button class="btn jaComprei" (click)="salvarFormulario()">
                      <i
                        class="fas fa-clipboard-check"
                        style="margin-right: 10px"
                      ></i
                      >Gerar meu Cardápio
                    </button>

                    <button class="btn success" id="closeGenerate">
                      <i class="fas fa-undo" style="margin-right: 10px"></i
                      >Voltar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</div>
