<div id="bemvindo">
  <div class="box-text-criarAcc">
    <div class="text-info-box">
      <header>
        <div class="logo-calc"></div>
      </header>
      <div class="separTe"></div>
      <div id="conta" *ngIf="pagina == 'conta'">
        <div class="container-cart">
          <h3>Crie sua conta agora:</h3>
        </div>
        <div class="containerED">
          <!-- <form (ngSubmit)="onSubmit()" #formConta="ngForm" [formGroup]="registerForm"> -->

          <form (ngSubmit)="onSubmit()" #formConta="ngForm">
            <div class="form-group">
              <label>Nome:</label>
              <input
                class="form-control"
                type="text"
                name="first_name"
                [(ngModel)]="conta.first_name"
                placeholder="Digite seu nome aqui"
                required
              />
              <span class="symbol-input100">
                <i class="fa fa-user"></i>
              </span>
            </div>

            <div class="form-group">
              <label>Sobrenome:</label>
              <input
                class="form-control"
                type="text"
                name="last_name"
                [(ngModel)]="conta.last_name"
                placeholder="Digite seu sobrenome aqui"
                required
              />
              <span class="symbol-input100">
                <i class="far fa-user"></i>
              </span>
            </div>

            <div class="form-group">
              <label>E-mail:</label>
              <input
                class="form-control"
                type="email"
                name="email"
                [(ngModel)]="conta.email"
                placeholder="Digite seu email aqui"
                required
              />
              <span class="symbol-input100">
                <i class="fa fa-envelope"></i>
              </span>
            </div>

            <div class="form-group">
              <label>Senha:</label>
              <input
                #confirmacaoSenha
                class="form-control"
                type="password"
                name="confirmacaoSenha"
                [(ngModel)]="conta.password2"
                placeholder="Digite sua senha aqui"
                required
              />
              <span class="symbol-input100">
                <i class="fa fa-lock"></i>
              </span>
            </div>

            <div class="form-group">
              <label>Repita a senha:</label>
              <input
                #password
                class="form-control"
                type="password"
                name="password"
                [(ngModel)]="conta.password"
                placeholder="Digite sua senha novamente aqui"
                required
              />
              <span class="symbol-input100">
                <i class="fa fa-lock"></i>
              </span>
            </div>

            <small
              *ngIf="password.value != confirmacaoSenha.value"
              class="text-danger"
              >Senha não é igual a confirmação</small
            >

            <button
              type="submit"
              class="btn criarcontaBt"
              [disabled]="formConta.form.invalid"
            >
              <i class="fas fa-plus" style="margin-right: 10px"></i>Criar conta
            </button>
            <button
              id="voltarLogin"
              type="button"
              class="btn success"
              routerLink="/login"
            >
              <i class="fas fa-undo" style="margin-right: 10px"></i>Voltar
            </button>
          </form>
        </div>
      </div>

      <div id="usuario" *ngIf="pagina == 'usuario'">
        <div class="container-cart">
          <h3>Complemente seus dados:</h3>
        </div>
        <div class="containerED">
          <form (ngSubmit)="onSubmitUsuario()" #formUsuario="ngForm">
            <div class="form-group">
              <label>CPF / CNPJ:</label>
              <input
                class="form-control"
                type="text"
                name="cpf_ou_cnpj"
                id="cpf_ou_cnpj"
                [(ngModel)]="usuario.cpf_ou_cnpj"
                required
                placeholder="Digite seu CPF ou CNPJ aqui"
              />
              <span class="symbol-input100">
                <i class="fa fa-id-card"></i>
              </span>
            </div>

            <div class="form-group">
              <label>Celular:</label>
              <input
                class="form-control"
                type="tel"
                name="celular"
                id="celular"
                [(ngModel)]="usuario.celular"
                required
                placeholder="Digite seu celular aqui"
              />
              <span class="symbol-input100">
                <i class="fab fa-whatsapp"></i>
              </span>
            </div>

            <button
              type="submit"
              class="btn criarcontaBt"
              [disabled]="formUsuario.form.invalid"
            >
              <i class="fas fa-plus" style="margin-right: 10px"></i>Adicionar
              dados
            </button>
            <button
              id="voltarParaLogin"
              type="button"
              class="btn success"
              (click)="voltar()"
            >
              <i class="fas fa-undo" style="margin-right: 10px"></i>Voltar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
