<div class="dashFundo" style="display: block !important"></div>

<div id="bemvindo">
  <div class="box-text-criarAcc">
    <div class="text-info-box">
      <header>
        <div class="logo-calc"></div>
      </header>
      <div class="separTe"></div>
      <div id="conta">
        <div class="container-cart">
          <h3>Crie sua conta agora:</h3>
        </div>
        <div class="containerED">
          <form (ngSubmit)="onSubmit()" #formConta="ngForm">
            <div class="form-group">
              <label>Nome:</label>
              <input
                class="form-control"
                type="text"
                name="first_name"
                [(ngModel)]="conta.first_name"
                placeholder="Digite seu nome aqui"
                required
              />
              <span class="symbol-input100">
                <i class="fa fa-user"></i>
              </span>
            </div>

            <div class="form-group">
              <label>Sobrenome:</label>
              <input
                class="form-control"
                type="text"
                name="last_name"
                [(ngModel)]="conta.last_name"
                placeholder="Digite seu sobrenome aqui"
                required
              />
              <span class="symbol-input100">
                <i class="far fa-user"></i>
              </span>
            </div>

            <div class="form-group">
              <label>E-mail:</label>
              <input
                class="form-control"
                type="email"
                name="email"
                [(ngModel)]="conta.email"
                placeholder="Digite seu email aqui"
                required
              />
              <span class="symbol-input100">
                <i class="fa fa-envelope"></i>
              </span>
            </div>

            <div class="form-group">
              <label>Senha:</label>
              <input
                #confirmacaoSenha
                class="form-control"
                type="password"
                name="confirmacaoSenha"
                [(ngModel)]="conta.password2"
                placeholder="Digite sua senha aqui"
                required
              />
              <span class="symbol-input100">
                <i class="fa fa-lock"></i>
              </span>
            </div>

            <div class="form-group">
              <label>Repita a senha:</label>
              <input
                #password
                class="form-control"
                type="password"
                name="password"
                [(ngModel)]="conta.password"
                placeholder="Digite sua senha novamente aqui"
                required
              />
              <span class="symbol-input100">
                <i class="fa fa-lock"></i>
              </span>
            </div>

            <small
              class="text-danger"
              *ngIf="password.value != confirmacaoSenha.value"
              >Senha não é igual a confirmação</small
            >

            <button
              class="btn criarcontaBt"
              id="criar-conta"
              [disabled]="formConta.form.invalid"
            >
              <i class="fas fa-plus" style="margin-right: 10px"></i>Criar conta
            </button>

            <!-- TELA DE CONFIRMAÇÃO DA CRIAÇÃO DA CONTA -->
            <div id="generateCard">
              <div class="box-confirm">
                <div id="closeGenerate" class="fechar-button-create">X</div>
                <div class="text-confirm">
                  <h6 class="titleS">Já comprou o nosso serviço?</h6>
                  <div style="margin-top: 10px">
                    Se você já <b class="azul">comprou</b> o nosso serviço, por
                    favor clica em <b class="azul">Já comprei</b>, se não
                    comprou ainda, pode clicar em <b class="azul">Ainda não</b>.
                  </div>
                  <div class="cardBtn2">
                    <div style="padding-top: 25px"></div>
                    <button class="btn criarcontaBt" (click)="criarConta('criar-usuario')">
                      <i class="fas fa-check" style="margin-right: 10px"></i>Já
                      comprei
                    </button>

                    <button
                      type="submit"
                      class="btn success"
                      (click)="criarConta('')"
                    >
                      <i class="fas fa-ban" style="margin-right: 10px"></i>Ainda
                      não
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
            <button
              id="voltarLogin"
              type="button"
              class="btn success"
              routerLink="/login"
            >
              <i class="fas fa-undo" style="margin-right: 10px"></i>Voltar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
