/**
 * ----------------------------------------
 * BOTÕES DA PÁGINA E CONTATO
 * ----------------------------------------
 */

.contato-botoes {
    border-top: 1px solid;
    margin-top: 6vh;
    font-weight: 400;
    font-size: 3vh;
    margin-bottom: 2vh;
}

.contato-formulario {
    margin-top: -45px;
    font-weight: 400;
    font-size: 3vh;
    margin-bottom: -41px;
}

.call-buttons {
    margin: -110px auto;
    position: absolute;
    right: 190px;
}

.whatssapp-btn {
    background: #06a700;
    text-align: center;
    font-size: 24px;
    padding: 17px;
    text-transform: uppercase;
    transition: 0.6s;
    border-radius: 10px;
    cursor: pointer;
    color: var(--branco);
}

.whatssapp-btn:hover {
    background: var(--azul);
    color: var(--preto);
}

.insta-btn {
    background: #a70067;
    margin-top: 25px;
    text-align: center;
    font-size: 24px;
    padding: 17px;
    text-transform: uppercase;
    transition: 0.6s;
    border-radius: 10px;
    cursor: pointer;
    color: var(--branco);
}

.insta-btn:hover {
    background: var(--azul);
    color: var(--preto);
}


/*  */


/*  */

div.elem-group {
    margin: 40px 0;
}

.limite-contato {
    width: 65%;
}

label {
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--azul);
    font-size: 21px;
}

input,
select,
textarea {
    border-radius: 2px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1.25em;
    width: 100%;
    padding: 8px;
    color: var(--preto);
}

textarea {
    height: 250px;
}

.enviar {
    width: 100%;
    color: var(--azul);
    font-size: 23px;
    cursor: pointer;
    border: 2px solid var(--azul);
    transition: 0.5s;
    padding: 10px 25px 10px 25px;
    background: transparent;
}

.enviar:hover {
    background: var(--azul);
    color: var(--preto);
}


/*  */


/* Alerta validate */


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    bottom: calc((100% - 20px) / 2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 2px;
    pointer-events: none;
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    bottom: calc((100% - 20px) / 2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}