<div id="adminPanel">
    <div class="box-text-admin">
      <div class="text-info-box">
        <a id="fecharBtAdmin">
          <div class="fechar-button">X</div>
        </a>
        <!-- <app-top-bar [conta]="conta"></app-top-bar> -->
        <app-top-bar ></app-top-bar>
  
        <div class="containerED">
          <header>
            <div class="logo-calc"></div>
          </header>
          <div class="separTe"></div>
          <div class="container-cart">
            <div class="planejamento">
              <h2>Administração</h2>
            </div>
            <h3>
              <!-- Boas vindas ao nosso Programa, {{ conta.first_name }} {{ conta.last_name }} -->
              Boas vindas ao nosso Programa, "fname"
            </h3>
          </div>
  
          <div style="padding-top: 30px"></div>
          <div class="content-cardap">
            <div class="dadosConsulta">
              <h3>
                <i class="fas fa-home" style="margin-right: 10px"></i>
                Está a um passo para sua mudança de vida!
              </h3>
  
              <div class="atach">
                Se você chegou até aqui é porque você é uma pessoa comprometida a
                melhorar a sua vida, e para te ajudar a dar os primeiros passos,
                eu disponibilizei para você:
                <div style="margin-top:13px;">
                  Uma calculadora para fazer uma análise das suas medidas e
                  fornecer um cardápio personalizado para o seu desenvolvimento de
                  acordo com os seus resultados da calculadora.
                </div>
              </div>
            </div>
            <div class="cardBtn">
              <div style="padding-top: 25px"></div>
              <button id="hideT" routerLink="/calculadora" class="btn success">
                <i class="fas fa-calculator" style="margin-right: 10px"></i
                >Calcular meu IMC
              </button>
            </div>
            <div class="linhaE"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  